@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
  background-color: rgb(255, 255, 255) !important;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

 .footer {
  background-color: #160033 !important;
  margin-top: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
  font-size: 20px;
 }

 .footer-text {
   color: #ffffff !important;
 }

 /* small phones */
@media only screen and (max-width: 600px) {
  .home-div {
    width: 90% !important;
    display: flex !important;
    margin: auto !important;
    margin-bottom: 200px;
  }

  .nav-style {
    align-items: center;
  }

  .about-div {
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-bottom: 15px !important;
  }

  .about-card-div {
    margin: 15px 3px !important;
  }

  .about-img-div {
    height: auto !important;
  }

  .tech-div {
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    min-height: 90vh !important;
    margin-top: 10px !important;
  }

  .project-div {
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin: auto !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .project-card {
    min-height: 100px !important;
    min-width: 300px !important;
    margin-bottom: 10px !important;
  }
}

/* bigger phones/small ipads */
@media only screen and (min-width:600px) {
  .about-div {
    width: 90% !important;
  }

  .about-card-div {
    margin: 60px 20px !important;
    height: 500px !important;
  }

  .about-img-div {
    height: 500px !important;
  }

  .tech-div {
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
  }

  .tech-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
    margin-bottom: 15px !important;
  }
}

/* medium screens */
@media only screen and (min-width: 768px) {
  .about-div {
    margin: 60px 20px !important;
  }

  .tech-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
    margin-bottom: 15px !important;
  }

  .project-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
  }

  .project-div {
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 5px !important;
    margin-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .project-card {
    height: auto !important;
    width: auto !important;
    margin-bottom: 5px !important;
  }
}

/* larger screens - laptops, big tablets */
@media only screen and (min-width: 992px) {
  .about-div {
    margin: 60px 20px !important;
  }

  .tech-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
    margin-bottom: 15px !important;
  }

  .project-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
  }

  .project-div {
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 5px !important;
    margin-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .project-card {
    height: auto !important;
    width: auto !important;
    margin-bottom: 5px !important;
  }
}

/* the biggest */
@media only screen and (min-width: 1200px) {
  .about-div {
    margin: 60px 20px !important;
  }

  .tech-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
    margin-bottom: 15px !important;
  }

  .project-card {
    box-shadow: 12px 12px 2px 1px #49fdb1 !important;
  }

  .project-div {
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 5px !important;
    margin-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .project-card {
    height: auto !important;
    width: auto !important;
    margin-bottom: 5px !important;
  }
}
